body{
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cont-general{
    padding: 10px;
    background-color: rgb(134, 134, 134);
    
}


.contenedor-interno{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu{
    width: 300px;
    background-color: rgb(214, 211, 211); 
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: rgb(172, 171, 171);
    margin-left: 10px;
    
}

.main{
    width: 500px;
    height: 500px;
    background-color: rgb(214, 211, 211);
    margin-right: 10px;
    justify-content: center;
}

.aside{
    width: 300px;
    height: 500px;
    background-color: rgb(214, 211, 211);
    margin-left: 10px;
    justify-content: center;
    
    
}


.footer{
    height: 100px;
    background-color: rgb(214, 211, 211);
    text-align: center;   
}

