
body{
    background-color: rgb(222, 218, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.card{
    width: 300px;
    height: 500px;
    background-color: white;
    margin-top: 50px;
    margin-right:auto;
    margin-left:auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 20px;
}

img{
    width: 100px;
    height: 60px;
    margin-top: 20px;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;   
}

h3{
  margin-right: 40px;
  margin-left: 40px;
  color: #2A4064; 
  text-decoration: none; 
}

a{
  margin-left: 68px;
  color: #2A4064; 
  text-decoration: none; 
}

.parrafo-largo{
    color: #787D93;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.card-interna{
    width: 200px;
    height: 100px;
    background-color: #E4EBF3;
    border-radius: 10px;
    color:#2A4064 ;
    font-size: 12px;
    font-weight: bold;
    margin-left: 44px;
}

.texto-card-int{
    margin-left: 46px;
    padding-top: 10px;

}
.texto-mail{
    font-size: 12px;
    font-weight: normal;
    padding-left: 38px;
}
.boton1{
    width: 100px;
    border-radius: 50px;
    padding: 5px;
    background-color: white;
    border-color: transparent;
    margin-left: 50px;
}

.boton2{
    width: 100px;
    border-radius: 50px;
    padding: 5px;
    background-color: #2A4064;
    color: white;
    border-color: transparent;
    margin-top: 26px;
    margin-left: 98px;

}