body,html{
    text-align: center;
}
.formulario{
    display: flex;
    justify-content: center;
}

form{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

