html,body{
    height: 100%;
}

body{
    background-color: rgb(175, 174, 174);
    display: flex;
    justify-items: center;
    
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dado{ /* cuadrado */
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    padding: 18px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.cont-interno1{ /* contenedor del punto */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-interno2{ /* contenedor del punto */
    width: 100%;
    height: 50%;
    display: flex;
    align-items:flex-start;
}

.cont-interno3{ /* contenedor del punto */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cont-interno4{ /* contenedor de 2 puntos */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.cont-interno5{ /* contenedor de 2 puntos */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.cont-interno6{ /* contenedor de 2 puntos */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.punto{ /* caract que comparten todos los dados , el punto*/
    background-color: black;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}


