.uno{
    font-size: 100px;
}

.dos{
    font-size: 90px;
}

.tres{
    font-size: 80px;
}

.cuatro{
    font-size: 70px;
}

.cinco{
    font-size: 60;
}

.seis{
    font-size: 50px;
}

.siete{
    font-size: 40px; 
}

.ocho{
font-size: 30px ;
}

.nueve{
    font-size: 20px;
}

.diez{
    font-size: 10px;
}