body{
    margin: 0;
    padding: 0;
    background-color: rgb(223, 233, 248);
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.container{
    width: 550px;
    height: 530px;
    background-color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.nav{
    width: 550px;
    height: 30px;
    background-color: rgb(224, 221, 221);
    display: flex;
}

.detalle{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color:rgb(173, 173, 173);
    margin: 8px;
}
.seccion-interna{
    display: flex;
    flex-direction: column;
}



