body, html{
    margin: 0;
    padding: 0;
    background-color: rgb(246, 233, 242);
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
}


.card{
    width: 360px;
    height: 340px;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    box-shadow: 8px 4px 20px 0 rgb(245, 183, 209);

}
h3{
    text-align: left;
}
input{
    width: 344px;
    height: 40px;
    
    
}


.selectores{
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    padding: 5px;
    
}
select{
    height: 40px;
    width: 170px;
}

textarea{
    width: 344px;
    margin-bottom: 20px;
}

.boton-create{
    background-color: rgb(224, 71, 135);
    color: white;
}

button{
    padding: 10px;
    border:none;
    width: 170px;
    height: 40px;
    border-radius: 3px;
}

input, select, textarea{
    border: 0.6px solid rgb(209, 208, 208);
    border-radius: 3px;
}